<!DOCTYPE html>
<!--Made with ❤ by XUANZHI-->
<!--该页面已接入百度统计-->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#e9f1e9">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SMCL</title>
  <!-- Bootstrap -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./image/logo.png">
</head>

<body>
  <div id="app"></div>
  <template id="main">
    <transition mode="out-in">
      <!--TODO: UI-->
      <loading v-if="ui === 'loading'" :title="loadingTitle" :handle-cmd-result="handleCmdResult"
        :log-placeholder="logPlaceholder"></loading>
      <warning v-else-if="ui === 'warning'" :title="warningTitle" @close="goBack">
        {{ warningContent }}
      </warning>
      <settings v-else-if="ui === 'settings'" :afl="actionAfterLaunch" :ds="downloadSource"
        @update="updateSettings" @close="changeUI('main')"></settings>
      <player-list v-else-if="ui === 'playerList'" :cur="curPlayerIndex" @close="changeUI('main')" :init="init"
        :players="players" :aoa="addOfflineAccount"
        :account="account"></player-list>
      <version-list v-else-if="ui === 'versionList'" :cur-ver="curVer"
        @install="installVersion" @install-func="installFunc"
        @close="changeUI('main')" :game-dir="gameDir"
        :init="init"></version-list>
      <text-input v-else-if="ui === 'input'" @finish="input.resolveFunc" @close="goBack" :title="input.title"
        :desc="input.desc" :placeholder="input.placeholder"></text-input>
      <install-java v-else-if="ui === 'installJava'" :show-warning="showWarning"
        :ui-init="uiInit"></install-java>
      <div v-else-if="ui === 'main'">
        <button class="ctrl button account-menu" @click="changeUI('playerList')">
          <div style="font-size: 1.2rem; font-weight: bold;">
            {{ curPlayer || $t('notLogin') }}
            <i class="fa fa-edit"></i>
          </div>
          <div class="text-muted">
            <div v-if="!curPlayer">
              <i class="fa fa-user-plus"></i>
              {{ $t('clickToAddAccount') }}
            </div>
            <div v-else-if="accountType === 2">
              <i class="fa fa-windows"></i>
              {{ $t('microsoftAccount') }}
            </div>
            <div v-else>
              <i class="fa fa-user-circle-o"></i>
              {{ $t('offlineAccount') }}
            </div>
          </div>
        </button>
      </div>
    </transition>

    <transition>
      <div class="main-menu" v-if="ui === 'main'">
        <button class="ctrl button" @click="changeUI('versionList')">
          <i class="fa fa-bars"></i>
          {{ $t('versionList') }}
        </button> &nbsp;
        <button class="ctrl button" @click="changeUI('settings')">
          <i class="fa fa-cog"></i>
          {{ $t('settings') }}
        </button>
      </div>
    </transition>
    <transition>
      <div class="start-btns" v-if="ui === 'main'">
        <button class="ctrl button btn-block" @click="launchGame" :disabled="ui !== 'main' || running">
          <span class="text-success" v-if="running">
            <i class="fa fa-gamepad"></i>
            {{ $t('running') }}
          </span>
          <span v-else class="font-weight-bold">
            <i class="fa fa-play-circle"></i>
            {{ $t('launchBtn') }}
          </span>
          <br>
          <span class="text-muted">
            {{ curVer || $t('selectVer') }}
          </span>

        </button>
      </div>
    </transition>
  </template>

  <template id="ui-container">
    <div class="container my-5">
      <div class="ctrl text-center">
        <span class="title">
          <slot name="title"></slot>
        </span>
        <div class="mt-3">
          <slot name="content"></slot>
        </div>
      </div>
    </div>
  </template>

  <template id="loading">
    <ui-container>
      <template #title>
        {{ title }}
      </template>
      <template #content>
        <div class="mb-3">
          <span class="spinner-border spinner-border-sm"></span>
          {{ log }}
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" :style="{ width: progress + '%' }"></div>
        </div>
      </template>
    </ui-container>
  </template>

  <template id="warning">
    <ui-container>
      <template #title>
        <span class="text-danger">
          <i class="fa fa-warning"></i>
        </span>
        {{ title }}
      </template>
      <template #content>
        <slot></slot>
        <button class="btn btn-success btn-block mt-3" @click="$emit('close')">
          <i class="fa fa-check"></i> {{ $t('ok') }}
        </button>
      </template>
    </ui-container>
  </template>

  <template id="settings">
    <ui-container>
      <template #title>
        <i class="fa fa-cog"></i>
        {{ $t('settings') }}
      </template>
      <template #content>
        <div class="font-weight-bold">{{ $t('language') }}</div>
        <input type="radio" name="language" value="en" id="en" v-model="language"> <label for="en">English</label> &nbsp;
        <input type="radio" name="language" value="zh" id="zh" v-model="language"> <label for="zh">中文</label>
        
        <div class="font-weight-bold">{{ $t('actionAfterLaunch') }}</div>
        <input type="radio" name="actionAfterLaunch" value="minimize" id="minimize" v-model="actionAfterLaunch"> <label
          for="minimize">{{ $t('minimize') }}</label> &nbsp;
        <input type="radio" name="actionAfterLaunch" value="close" id="close" v-model="actionAfterLaunch"> <label
          for="close">{{ $t('close') }}</label> &nbsp;
        <input type="radio" name="actionAfterLaunch" value="none" id="none" v-model="actionAfterLaunch"> <label
          for="none">{{ $t('none') }}</label>

        <div class="font-weight-bold">{{ $t('downloadSource') }}</div>
        <input type="radio" name="downloadSource" value="0" id="official" v-model="downloadSource"> <label
          for="official">{{ $t('official') }}</label> &nbsp;
        <input type="radio" name="downloadSource" value="1" id="bmcl" v-model="downloadSource"> <label for="bmcl">{{ $t('bmcl') }}</label>

        <button class="btn btn-success btn-block mt-3" @click="$emit('close')">
          <i class="fa fa-check"></i> {{ $t('finish') }}
        </button>
      </template>
  </template>


  <!-- TODO: TextInput template -->
  <template id="text-input">
    <ui-container>
      <template #title>
        <i class="fa fa-edit"></i>
        {{ title }}
      </template>
      <template #content>
        <div class="text-muted">
          {{ desc }}
        </div>
        <input type="text" class="form-control mt-2" ref="inp" v-model="value" :placeholder="placeholder" @keyup.enter="finish">
        <div class="btn-group mt-2 w-100">
          <button class="btn btn-secondary" @click="$emit('close')">
            <i class="fa fa-times"></i> {{ $t('cancel') }}
          </button>
          <button class="btn btn-success" @click="finish">
            <i class="fa fa-check"></i> {{ $t('finish') }}
          </button>
        </div>
        
      </template>
  </template>

  <template id="playerList">
    <ui-container>
      <template #title>
        <i class="fa fa-users"></i>
        {{ $t('playerList') }}
      </template>
      <template #content>
        <div class="mx-3">
          <transition-group name="list">
            <div v-for="(player, i) in players" class="clearfix mt-2" :key="player.playerName + player.loginMethod">
              <div class="float-left">
                <input type="radio" name="player" :value="i" v-model="selected" :id="'player-' + i"> <label
                :for="'player-' + i">
                {{ player.playerName }}
              </label>
              </div>
              <div class="float-right">
                <span v-if="player.loginMethod === 2" class="text-muted">
                  <i class="fa fa-windows"></i>
                  {{ $t('microsoftAccount') }}
                </span>
                <span v-else class="text-muted">
                  <i class="fa fa-user-circle-o"></i>
                  {{ $t('offlineAccount') }}
                </span> &nbsp;
                <button class="btn btn-sm btn-danger" @click="deletePlayer(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
              
            </div>
          </transition-group>
          <div v-if="players.length === 0" class="text-muted">
            <i class="fa fa-minus-circle"></i>
            {{ $t('noPlayers') }}
          </div>
          <transition mode="out-in">
            <div v-if="adding.microsoft" class="mt-3 text-info">
              <i class="fa fa-info-circle"></i>
              {{ $t('microsoftLoginTips') }}
            </div>
            <div v-else-if="microsoftLoginFailed" class="mt-3 text-danger">
              <i class="fa fa-times-circle"></i>
              {{ $t('microsoftLoginFailed') }}
            </div>
          </transition>
        </div>
        <div class="btn-group mt-3 w-100">
          <button class="btn btn-primary" @click="addMicrosoftAccount" :disabled="adding.microsoft">
            <i class="fa fa-user-plus"></i>
            {{ $t('addMicrosoftAccount') }}
            <span class="spinner-border spinner-border-sm" v-if="adding.microsoft"></span>
          </button>
          <button class="btn btn-secondary" @click="addOfflineAccount">
            <i class="fa fa-user-plus"></i>
            {{ $t('addOfflineAccount') }}
          </button>
        </div>
        <button class="btn btn-success btn-block mt-2" @click="$emit('close')">
          <i class="fa fa-check"></i> {{ $t('finish') }}
        </button>
      </template>
    </ui-container>
  </template>


  <!-- TODO: Version List template -->
  <template id="version-list">
    <transition mode="out-in">
      <ui-container v-if="mode === 'list'">
        <template #title>
          <i class="fa fa-list"></i>
          {{ $t('versionList') }}
        </template>
        <template #content>
          <div class="mx-3">
            <transition mode="out-in">
              <div v-if="loading.version" class="text-muted">
                <span class="spinner-border spinner-border-sm"></span>
                {{ $t('loading') }}
              </div>
              <div v-else-if="versions.length === 0" class="text-muted">
                <i class="fa fa-minus-circle"></i>
                {{ $t('noVersions') }}
              </div>
              <div v-else>
                <transition-group name="list">
                  <div v-for="ver in versions" class="clearfix mt-2" :key="ver">
                    <div class="float-left">
                      <input type="radio" name="version" :value="ver" v-model="selectedVersion" :id="'ver-' + ver"> <label
                        :for="'ver-' + ver">
                        {{ ver }}
                    </div>
                    <div class="float-right">
                      <div class="btn-group btn-group-sm">
                        <button class="btn btn-info" @click="$emit('installFunc', 'fabric', ver)">
                          <i class="fa fa-cloud-download"></i>
                          Fabric
                        </button>
                        <button class="btn btn-info" @click="$emit('installFunc', 'forge', ver)">
                          <i class="fa fa-cloud-download"></i>
                          Forge
                        </button>
                        <button class="btn btn-info" @click="$emit('installFunc', 'optifine', ver)">
                          <i class="fa fa-cloud-download"></i>
                          OptiFine
                        </button>
                        <button class="btn btn-danger" @click="deleteVersion(ver)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </transition-group>
              </div>
            </transition>

          </div>
          <div class="btn-group btn-group-sm mt-2">
            <button class="btn btn-secondary" @click="openFolder('')">
              <i class="fa fa-folder-open"></i>
              {{ $t('gameFolder') }}
            </button>
            <button class="btn btn-secondary" @click="openFolder('saves')">
              <i class="fa fa-folder-open"></i>
              {{ $t('savesFolder') }}
            </button>
          </div>
          <button class="btn btn-info btn-block mt-2" @click="mode = 'install'">
            <i class="fa fa-download"></i>
            {{ $t('install') }}
          </button>
          <button class="btn btn-success btn-block mt-2" @click="$emit('close')">
            <i class="fa fa-check"></i> {{ $t('finish') }}
          </button>
        </template>
      </ui-container>
      <ui-container v-else-if="mode === 'install'">
        <template #title>
          <i class="fa fa-download"></i>
          {{ $t('versionSelect') }}
        </template>
        <template #content>
          <button class="btn btn-secondary mb-2" @click="mode = 'list'">
            <i class="fa fa-times"></i>
            {{ $t('cancel') }}
          </button>&nbsp;
          <select class="btn btn-info mb-2" v-model="versionType">
            <option v-for="item in types" :value="item">{{ $t(item) }}</option>
          </select>
          <transition mode="out-in">
            <div v-if="loading.allVersions" class="text-muted">
              <span class="spinner-border spinner-border-sm"></span>
              {{ $t('loadingAll') }}
            </div>
            <div v-else class="mx-3">
              <template v-for="ver in allVersions">
                <button class="btn btn-success mt-2" @click="$emit('install', ver)">
                  <i class="fa fa-download"></i>
                  {{ ver }}
                </button>&nbsp;
              </template>
            </div>
          </transition>
        </template>
      </ui-container>

    </transition>
  </template>

  <template id="install-java">
    <ui-container>
      <template #title>
        <i class="fa fa-coffee"></i>
        {{ $t('javaNotFound') }}
      </template>
      <template #content>
        <div>
          {{ $t('tips') }}
        </div>
        <div class="btn-group mt-2">
          <a href="https://download.oracle.com/java/22/latest/jdk-22_windows-x64_bin.exe"
            class="btn btn-info">
            <i class="fa fa-download"></i>
            Windows <br>
          </a>
          <a href="https://download.oracle.com/java/22/latest/jdk-22_macos-x64_bin.dmg"
            class="btn btn-info">
            <i class="fa fa-download"></i>
            macOS <br>
            (Intel)
          </a>
          <a href="https://download.oracle.com/java/22/latest/jdk-22_macos-aarch64_bin.dmg"
            class="btn btn-info">
            <i class="fa fa-download"></i>
            macOS <br>
            (Apple Silicon)
          </a>
          <a href="https://download.oracle.com/java/22/latest/jdk-22_linux-x64_bin.rpm"
            class="btn btn-info">
            <i class="fa fa-download"></i>
            Linux <br>
            (x64)
          </a>
          <a href="https://download.oracle.com/java/22/latest/jdk-22_linux-aarch64_bin.rpm"
            class="btn btn-info">
            <i class="fa fa-download"></i>
            Linux <br>
            (ARM64)
          </a>
        </div>
        <button class="btn btn-success btn-block mt-2" @click="retry">
          <i class="fa fa-check"></i> {{ $t('retry') }}
        </button>
      </template>
    </ui-container>
  </template>


  <!-- TODO: Component templates -->

  <script src="./vue.global.prod.js"></script>
  <script src="./vue-i18n.global.prod.js"></script>
  <script type="module">
    // TODO: Version
    const VERSION = "0.5.0";
    const { createApp } = Vue;
    const { createI18n } = VueI18n;
    let api = null;

    const i18n = createI18n({
      locale: "zh",
      messages: {
        en: {
          launchBtn: "Launch Game",
          selectVer: "Select Version",
          versionUnselected: "Version Unselected",
          launching: "Launching...",
          loggingIn: "Logging in as '{name}'",
          notLogin: "Not logged in",
          player: "Player",
          launchFail: "Failed to launch game",
          running: "Running",
          ok: "OK",
          finish: "Finish",
          cancel: "Cancel",
          versionList: "Version List",
          settings: "Settings",
          microsoftAccount: "Microsoft Account",
          offlineAccount: "Offline Account",
          clickToAddAccount: "Click to add account",
          addOfflineAccount: "Add Offline Account",
          accountNameTips: "Please enter account name. Only letters and numbers are allowed. Length should be 3-16",
          addOfflineAccountFailed: "Failed to add offline account",
          nameInvalid: "The name you entered is invalid, please try again",
          accountNamePlaceholder: "Enter account name",
          install: "Install Game",
          installing: "Installing {ver}...",
          downloadingResource: "Downloading resources...",
          versionNotFound: "Version not found, please reinstall",
          installFunc: "Install {type} for {ver}",
          installFailed: "Installation Failed"
          // TODO: i18n en
        },
        zh: {
          launchBtn: "启动游戏",
          selectVer: "选择版本",
          versionUnselected: "未选择游戏版本",
          launching: "启动中...",
          loggingIn: "正在以 “{name}” 的身份登录",
          notLogin: "未登录",
          player: "玩家",
          launchFail: "游戏启动失败",
          running: "运行中",
          ok: "好的",
          finish: "完成",
          cancel: "取消",
          versionList: "版本列表",
          settings: "设置",
          microsoftAccount: "微软账户",
          offlineAccount: "离线账户",
          clickToAddAccount: "点击添加账户",
          addOfflineAccount: "添加离线账户",
          accountNameTips: "请输入账号名称，只能包含字母和数字，长度为 3-16 位",
          accountNamePlaceholder: "输入账号名称",
          addOfflineAccountFailed: "添加离线账户失败",
          nameInvalid: "您输入的名称不符合要求，请重新添加",
          install: "安装游戏",
          installing: "正在安装 {ver}...",
          downloadingResource: "正在下载资源文件...",
          versionNotFound: "未找到此版本，请重新安装",
          installFunc: "为 {ver} 安装 {type}",
          installFailed: "安装失败"
          // TODO: i18n zh
        }
      }
    });

    const UiContainer = {
      template: "#ui-container"
    };

    const Warning = {
      components: {
        UiContainer
      },
      emits: ["close"],
      template: "#warning",
      props: {
        title: {
          type: String
        }
      }
    };

    // TODO: Loading
    const Loading = {
      components: {
        UiContainer
      },
      template: "#loading",
      props: {
        title: {
          type: String
        },
        handleCmdResult: {
          type: Function
        },
        logPlaceholder: {
          type: String,
          default: " "
        }
      },
      data() {
        return {
          progress: 0,
          log: ""
        };
      },
      methods: {
        cmdResult(result) {
          this.handleCmdResult(result, this);
        }
      },
      mounted() {
        window.cmdResult = this.cmdResult;
        this.log = this.logPlaceholder;
      }
    };

    // TODO: Settings
    const Settings = {
      components: {
        UiContainer
      },
      props: {
        afl: {
          type: String
        },
        ds: {
          type: Number
        }
      },
      data() {
        return {
          language: this.$i18n.locale,
          actionAfterLaunch: this.afl,
          downloadSource: this.ds
        };
      },
      template: "#settings",
      watch: {
        language(val) {
          this.$emit("update", "language", val);
        },
        actionAfterLaunch(val) {
          this.$emit("update", "smclActionAfterLaunch", val);
        },
        downloadSource(val) {
          this.$emit("update", "downloadSource", parseInt(val));
        }
      },
      i18n: {
        messages: {
          en: {
            language: "Language / 语言",
            finish: "Finish",
            actionAfterLaunch: "Action after launch",
            minimize: "Minimize",
            close: "Quit",
            none: "None",
            downloadSource: "Download source",
            official: "Official (Recommended)",
            bmcl: "BMCLAPI"
          },
          zh: {
            language: "语言 / Language",
            finish: "完成",
            actionAfterLaunch: "启动后操作",
            minimize: "最小化",
            close: "退出",
            none: "无",
            downloadSource: "下载源",
            official: "官方（推荐）",
            bmcl: "BMCLAPI"
          }
        }
      }
    };

    const PlayerList = {
      components: {
        UiContainer
      },
      emits: ["close"],
      data() {
        return {
          selected: this.cur,
          mode: "list",
          adding: {
            microsoft: false
          },
          microsoftLoginFailed: false
        };
      },
      watch: {
        async selected(val) {
          if (val == -1) {
            return;
          }
          await this.account(["--select", String(val)]);
        },
        async cur(val) {
          this.selected = val;
        }
      },
      methods: {
        async deletePlayer(index) {
          if (await api.confirm_dialog(this.$t("deleteConfirm"), this.$t("deletePlayer"))) {
            await this.account(["--delete", String(index)]);
          }
        },
        async addMicrosoftAccount() {
          this.adding.microsoft = true;
          this.microsoftLoginFailed = false;

          const res = await this.account(["--login", "microsoft"]);
          
          this.adding.microsoft = false;

          if (res.includes("Minecraft")){
            this.microsoftLoginFailed = true;
          } else {
            this.selected = this.players.length - 1;
          }
        },
        async addOfflineAccount() {
          await this.aoa();
        }
      },
      props: {
        players: {
          type: Array
        },
        cur: {
          type: Number
        },
        account: {
          type: Function
        },
        aoa: {
          type: Function
        },
        init: {
          type: Function
        }
      },
      template: "#playerList",
      i18n: {
        messages: {
          en: {
            playerList: "Account List",
            finish: "Finish",
            deleteConfirm: "Are you sure to delete this account?",
            deletePlayer: "Delete Account",
            addMicrosoftAccount: "Add Microsoft (Genuine) Account",
            addOfflineAccount: "Add Offline Account",
            noPlayers: "No accounts added, click the button below to add",
            microsoftLoginTips: "Please log in to your Microsoft account in the browser, and wait a moment after logging in.",
            microsoftLoginFailed: "Microsoft account login failed, probably because this account has not purchased the genuine Minecraft. Please purchase it before logging in or use an offline account to log in."
          },
          zh: {
            playerList: "账号列表",
            finish: "完成",
            deleteConfirm: "确定要删除这个账号吗？",
            deletePlayer: "删除账号",
            addMicrosoftAccount: "添加微软（正版）账户",
            addOfflineAccount: "添加离线账户",
            noPlayers: "未添加账号，请点击下方按钮添加",
            microsoftLoginTips: "请在浏览器内登录您的微软账户，登录完成后请稍等片刻。",
            microsoftLoginFailed: "微软账户登录失败，大概率是因为此账号并未购买正版 Minecraft，请购买后再登录或者使用离线账户登录。"
          }
        }
      }
    };

    const TextInput = {
      components: {
        UiContainer
      },
      template: "#text-input",
      props: {
        title: {
          type: String
        },
        placeholder: {
          type: String
        },
        desc: {
          type: String
        }
      },
      data() {
        return {
          value: ""
        };
      },
      mounted() {
        this.$refs.inp.focus();
      },
      methods: {
        finish() {
          this.$emit("finish", this.value);
          this.$emit("close");
        }
      }
    };

    // TODO: VersionList
    const VersionList = {
      emits: ["close", "install", "installFunc"],
      props: {
        curVer: {
          type: String
        },
        init: {
          type: Function
        },
        gameDir: {
          type: String
        }
      },
      components: {
        UiContainer
      },
      template: "#version-list",
      data() {
        return {
          versions: [],
          loading: {
            version: true,
            allVersions: true
          },
          allVersions: [],
          mode: "list",
          versionType: "release",
          types: [
            "release",
            "all",
            "snapshot",
            "oldAlpha",
            "oldBeta"
          ],
          selectedVersion: this.curVer
        };
      },
      watch: {
        async mode(val) {
          if (val === "list") {
            await this.getVersions();
          } else {
            await this.getAllVersions();
          }
        },
        async versionType(val) {
          await this.getAllVersions();
        },
        async selectedVersion(val) {
          if (val) {
            await api.cmcl(["--select", val]);
          } else {
            await api.cmcl(["config", "--delete", "selectedVersion"]);
          }

          await this.init();
        }
      },
      methods: {
        async selectVersion(ver) {
          await api.cmcl(["--select", ver]);
          await this.init();
        },
        async getAllVersions() {
          this.loading.allVersions = true;
          const allVersionsStr = await api.cmcl(["install", "--show", this.versionType]);
          this.allVersions = allVersionsStr.split(/\s+/).slice(0, -1);
          this.allVersions.reverse();
          this.loading.allVersions = false;
        },
        async getVersions() {
          this.loading.version = true;
          const versionStr = await api.cmcl(["--list"]);
          this.versions = versionStr.split("\n").slice(1).join("\n").split(/\s+/).slice(0, -1);
          if (this.versions.length === 1 && this.versions[0] === "") {
            this.versions = [];
          }

          this.loading.version = false;
        },
        async deleteVersion(ver) {
          if (await api.confirm_dialog(this.$t("deleteConfirm"), this.$t("deleteVersion"))) {
            await api.cmcl(["version", ver, "--delete"]);
            if (this.selectedVersion === ver) {
              this.selectedVersion = "";
            }
            await this.getVersions();
          }
        },
        async openFolder(path) {
          const exist = await api.open_file([this.gameDir, path]);
          if (!exist) {
            await api.makedirs([this.gameDir, path]);
            await api.open_file([this.gameDir, path]);
          }
        }
      },
      async mounted() {
        await this.getVersions();
      },
      i18n: {
        messages: {
          en: {
            loading: "Getting installed versions...",
            loadingAll: "Getting all versions...",
            noVersions: "No versions installed, please click the button below to install",
            install: "Install a game version",
            versionSelect: "Select a game version",
            release: "Release",
            all: "All Versions",
            snapshot: "Snapshot",
            oldAlpha: "Old Alpha",
            oldBeta: "Old Beta",
            deleteConfirm: "Are you sure to delete this version? This will not affect saves, mods, etc.",
            deleteVersion: "Delete Version",
            gameFolder: "Game",
            savesFolder: "Saves",
            fix: "Fix"
          },
          zh: {
            loading: "正在获取已安装的版本...",
            loadingAll: "正在获取可安装的版本...",
            noVersions: "当前未安装任何版本，请点击下方按钮安装",
            install: "安装一个游戏版本",
            versionSelect: "选择要安装的游戏版本",
            release: "正式版",
            all: "所有版本",
            snapshot: "快照版",
            oldAlpha: "远古 Alpha 版",
            oldBeta: "远古 Beta 版",
            deleteConfirm: "确定要删除这个版本吗？这不会影响地图、模组等数据。",
            deleteVersion: "删除版本",
            gameFolder: "游戏",
            savesFolder: "地图",
            fix: "修复"
          }
        }
      }
    };

    const InstallJava = {
      components: {
        UiContainer
      },
      props: {
        uiInit: {
          type: Function
        },
        showWarning: {
          type: Function
        }
      },
      template: "#install-java",
      methods: {
        async retry() {
          const res = await this.uiInit();
          if (!res) {
            this.showWarning(this.$t("javaNotFound"), this.$t("stillFail"));
          }
        }
      },
      i18n: {
        messages: {
          en: {
            javaNotFound: "Java not detected",
            tips: "Minecraft requires Java Runtime. Please click the button below to download Java installer for your system.",
            retry: "I have downloaded and installed Java",
            stillFail: "Java still not detected, please try again or restart SMCL"
          },
          zh: {
            javaNotFound: "未检测到 Java",
            tips: "Minecraft 需要 Java 运行环境，请点击下方的按钮下载对应的 Java 安装包。",
            retry: "我已经下载并安装了 Java",
            stillFail: "仍然无法检测到 Java，请再次尝试，或重启 SMCL"
          }
        }
      }
    };

    // TODO: Components
    const app = createApp({
      components: {
        Loading,
        Warning,
        Settings,
        PlayerList,
        VersionList,
        TextInput,
        InstallJava
      },
      data() {
        // TODO: data
        return {
          running: false,
          curVer: "",
          curPlayer: "",
          curPlayerIndex: -1,
          players: [],
          ui: "",
          loadingTitle: "",
          lastUI: "",
          accountType: 0,
          logPlaceholder: "",
          warningTitle: "",
          warningContent: "",
          handleCmdResult: null,
          actionAfterLaunch: null,
          downloadSource: 0,
          gameDir: "",
          input: {
            title: "",
            desc: "",
            placeholder: "",
            resolveFunc: null
          }
        };
      },
      methods: {
        // TODO: methods
        changeUI(ui) {
          this.lastUI = this.ui;
          this.ui = ui;
        },
        
        async account(args) {
          const cmds = ["account", ...args];
          const res = await api.cmcl(cmds);
          await this.init();
          return res;
        },

        async installVersion(ver) {
          await this.startLoading(this.$t("install"), this.$t("installing", { ver }), (result, loading) => {
            const msg = result.replace(/\u0008/g, "").replace(/\(\d+%\)/g, "");
            console.log(msg);
            const reg = /\[(\d+)\/(\d+)\]/;
            if (reg.test(msg)) {
              const match = reg.exec(msg);
              loading.progress = parseInt(match[1]) / parseInt(match[2]) * 100;
              loading.log = this.$t("downloadingResource") + ` (${match[1]}/${match[2]})`;
            } else {
              loading.log = msg;
              loading.progress += 1;
            }
          });
          const res = await api.cmcl_waiting(["install", ver]);
          await this.finishLoading();
          const resList = res.split("\n");
          if (resList.length == 2) {
            const warn = resList[0];
            this.showWarning(this.$t("installFailed"), warn);
          }
        },

        // TODO: InstallFunc
        async installFunc(type, ver) {

          await this.startLoading(this.$t("installFunc", { type, ver }),
            this.$t("installing", { ver: type }), (result, loading) => {
            
            const msg = result.replace(/\u0008/g, "").replace(/\(\d+%\)/g, "");
            console.log(msg);
            
            
            loading.log = msg;
            loading.progress += 5;
            
          });

          const res = await api.cmcl(["version", ver, `--${type}`], "");
          console.log(res);
          const reg = /\(.+(\d+\.\d+\.\d+)\)/;
          const match = reg.exec(res);
          if (!match) {
            this.finishLoading();
            this.showWarning(this.$t("installFailed"), res);
            return;
          }
          
          const version = match[1];
          await api.cmcl_waiting(["version", ver, `--${type}=${version}`]);

          await this.finishLoading();
        },
        
        async addOfflineAccount() {
          const name = await this.requestInput(
            this.$t("addOfflineAccount"),
            this.$t("accountNameTips"),
            this.$t("accountNamePlaceholder"));

          const reg = /^[a-zA-Z0-9]{3,16}$/;
          if (!reg.test(name)) {
            this.showWarning(this.$t("addOfflineAccountFailed"), this.$t("nameInvalid"));
            return;
          }

          await this.account(["--login", "offline", "--name", name]);

          this.curPlayerIndex = this.players.length - 1;
        },
        async updateSettings(key, value) {
          await api.config(key, value);
          await this.init();
        },
        async requestInput(title, desc, placeholder) {
          this.input.title = title;
          this.input.desc = desc;
          this.input.placeholder = placeholder;
          this.changeUI("input");
          return await new Promise(resolve => {
            this.input.resolveFunc = resolve;
          });
        },
        init_api() {
          return new Promise(resolve => {
            window.addEventListener("pywebviewready", () => {
              api = pywebview.api;
              resolve();
            });
          });
        },
        startLoading(title, logPlaceholder, handleCmdResult) {
          this.changeUI("loading");
          this.loadingTitle = title;
          this.handleCmdResult = handleCmdResult;
          this.logPlaceholder = logPlaceholder;
        },
        finishLoading() {
          this.goBack();
          this.handleCmdResult = null;
        },
        showWarning(title, content) {
          this.changeUI("warning");
          this.warningTitle = title;
          this.warningContent = content;
        },
        goBack() {
          this.ui = this.lastUI;
          this.lastUI = "main";
        },
        async launchGame() {
          // TODO: launch game
          if (!this.curVer) {
            this.changeUI("versionList");
            return;
          }

          if (!this.curPlayer) {
            this.changeUI("playerList");
            return;
          }

          await this.startLoading(this.$t("launchBtn"),
            this.$t("loggingIn", { name: this.curPlayer }),
            (result, loading) => {
              console.log(result);
              if (result.includes("Sound engine started")) {
                this.finishLoading();
                loading.progress = 100;
                this.running = true;
              } else if (result.includes("Setting user:")) {
                loading.log = this.$t("launching");
                loading.progress = 30;
              } else {
                loading.progress += 5;
              }
            });

          const res = await api.cmcl_waiting(null);
          this.running = false;
          if (res.includes("游戏崩溃可能的错误") || res.includes("Game crash possible error")) {
            this.finishLoading();
            // 正则匹配错误信息
            const reg = /^(游戏崩溃可能的错误：|Game crash possible error: ).*$/m;
            const match = reg.exec(res);
            this.showWarning(this.$t("launchFail"), match[0]);
          } else if (res.includes("install <")) {
            this.finishLoading();
            this.showWarning(this.$t("launchFail"), this.$t("versionNotFound"));
          }
        },
        async init() {
          // TODO: init
          const config = await api.get_all_settings();
          this.$i18n.locale = config.language;
          this.curVer = config.selectedVersion;
          const players = config.accounts || [];
          this.players = players;

          this.curPlayer = "";
          this.curPlayerIndex = -1;
          
          for (let i = 0; i < players.length; i++) {
            const player = players[i];
            if (player.selected) {
              this.curPlayer = player.playerName;
              this.curPlayerIndex = i;
              this.accountType = player.loginMethod;
              break;
            }
          }
          const playerName = this.curPlayer || this.$t("notLogin");
          const curVer = this.curVer || this.$t("versionUnselected");
          this.actionAfterLaunch = config.smclActionAfterLaunch;
          this.downloadSource = config.downloadSource;
          this.gameDir = config.gameDir;
          await api.set_title(`SMCL ${VERSION} - Minecraft: ${curVer} - ${this.$t('player')}: ${playerName} - by xuanzhi33`);
        },
        async uiInit() {
          try {
            await api.init_cmcl();
            await this.init();
            this.ui = "main";
            return true;
          } catch (e) {
            this.ui = "installJava";
            return false;
          }
        }
      },
      watch: {
        // TODO: watch
        async running(val) {
          const sleep = new Promise(resolve => setTimeout(resolve, 1000));
          if (val) {
            await sleep;
            if (this.actionAfterLaunch === "close") {
              api.close();
            } else if (this.actionAfterLaunch === "minimize") {
              api.minimize();
            }
          }
        }
      },
      async mounted() {
        await this.init_api();
        await this.uiInit();
      },
      template: "#main"
    });

    app.use(i18n);
    app.mount("#app");
  </script>
</body>

</html>